.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .left__col {
        display: inline;
    }
    .blog-menu {
        vertical-align: top;
        display: inline-block;
        width: 21%;
        .blog-nav {
            float: right;
            li {
                list-style: none;
                text-align: left;
                //border-right: 2px solid rgb(162, 190, 146);
                //&.active {
                //    border-right: 2px solid rgb(162, 190, 146);
                //
                //}
            }
        }
    }
}

.blog {
    background-color: rgb(250, 248, 240);
    height: 100%;
    padding-bottom: 250px;

    .left__col {
        display: inline;
    }
.blog-menu {
    vertical-align: top;
    display: inline-block;
    width: 21%;
    //&.active {
    //    border-right: 2px solid rgb(162, 190, 146);
    //
    //}
.blog-nav {
    float: right;
}
li {
    list-style: none;
    text-align: left;
    //border-right: 2px solid rgb(162, 190, 146);
}
}

.blog-content {
    width: 78%;
    display: inline-block;
    padding-left:0;
.blog-news {
    margin-left: 120px;
}
li {
    list-style: none;
h2 {
    margin-bottom: 25px;
}
.date {
    margin: 0;
    margin-bottom: 30px;
    color: rgb(162, 190, 146);
}
.blog-content-text {
    margin: 0;
    padding-right: 55px;
}
}
}
}

.blog-side__item.active a {
    border-right: 4px solid rgb(162, 190, 146);
    padding-right: 28px;

}

.blog-side__item a {
    box-sizing: border-box;
    padding: 5px 30px 5px 0;
    width: 120px;
    display: block;
    text-decoration: none;
}

.blog-side__item a:hover {
    color: grey;
}

.blog-header {
    padding-top: 35px;
    padding-left: 30px;
}

.content {
  padding-top: 50px;
}
