.body_background {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.header__index {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  .autorize-btn {
    margin-left: auto;
    margin-top: 25px;
    margin-right: 100px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 14px 28px 14px 28px;
    border: 1px solid white;
  }
}

.front {
  width: 35%;
  height: 400px;
//  margin: 110px auto 0 auto;
  text-align: center;
  background-color: rgba(31, 52, 48, 0.6);

  .photo {
    border-radius: 50%;
    width: 145px;
    height: 145px;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .name {
    color: white;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .sitetitle {
    color: white;
    font-size: 16px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .social-btns {
    margin-bottom: 38px;

    a {
      margin-right: 20px;

      .fa-vk,
      .fa-github-alt,
      .fa-linkedin {
        color: rgba(141, 155, 150, 0.9);
        font-size: 28px;
        line-height: 28px;
      }
    }
  }
  .btns {
    height: 50px;
    font-size: 0;
    text-align: left;

    .myworks,
    .aboutme,
    .blog {
      display: inline-block;
      color: white;
      text-decoration: none;
      vertical-align: middle;
      box-sizing: border-box;
      height: 50px;
      border-right: 1px solid white;
      background-color: rgb(96, 142, 84);
      font-size: 16px;
      text-align: center;
      vertical-align: middle;
      padding-top: 16px;
    }
    .blog {
      width: 100px;
      border-right: none;
    }

    .myworks {
      width: 150px;
    }

    .aboutme {
      width: 130px;
    }

  }
}

.back {
  width: 35%;
  height: 428px;
//  margin: 110px auto 0 auto;
  text-align: center;
  background-color: rgba(31, 52, 48, 0.6);

  .name {
    padding-top: 40px;
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 28px;
    color: white;

  }
  .horizontal-line {
    border: none;
    width: 90px;
    height: 3px;
    margin-bottom: 30px;
    background-color: white;
  }

  .register-form-login,
  .register-form-pass,
  .captcha-question {
    display: block;
    font-size: 16px;
  }

  .register-form-login-fa {
    background-color: rgb(240, 239, 233);
    width: 45px;
    height: 45px;
    position: absolute;
    left: 20px;
    right: 0;
    line-height: 45px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .fa-user,
  .fa-key {
    color: rgb(196, 203, 205);
  }

  input, label {
    font-size: 16px;
  }

  .register-form-login__input,
  .register-form-pass__input {
    width: 285px;
    height: 45px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 16px;
    line-height: 45px;
    border: none;
    margin-left: 35px;
    padding: 0 0 0 20px;
    outline: none;
  }

  .register-form-login {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .register-form-pass {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #yes-in:not(checked),
  #no-in:not(checked) {
    position: absolute;
    top: 0;
    display: none;
  }

  #captcha:not(checked) {
    display: none;
  }

  label[for="captcha"],
  .captcha-question {
    color: white;
  }

  label[for="captcha"] {
    line-height: 20px;

  }

  label[for="captcha"]:before {
    content: "";
    display: inline-block;
    position:relative;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: rgb(108, 156, 90);
  }
  .captcha-checkbox {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  #captcha:checked + label:before {
    content: "\2713";
    padding: 0;
    color: whitesmoke;
    text-align: center;
  }



  label[for="yes-in"],
  label[for="no-in"] {
    color: white;
    padding-left: 25px;
  }

  .captcha-question-radio {
    margin-bottom: 40px;
    height: 20px;
  }


  label[for="yes-in"]:before,
  label[for="no-in"]:before {
    content: "";
    display: inline-block;
    position:relative;
    top: 5px;
    left: -10px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
  }

  .captcha-question-radio input[type="radio"]:checked + label:before {
    content: "";
    display: inline-block;
    position:relative;
    top: 5px;
    left: -10px;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid white;
    background-color: rgb(108, 156, 90);
  }

  label[for='captcha'] {
    margin-bottom: 20px;
  }

  .captcha-question {
    margin-bottom: 20px;
  }

  input[name='yesno'] {
    margin-bottom: 40px;
  }

  .btns {
    height: 50px;
    font-size: 0;
    text-align: left;

    .main-page-btn,
    .sign-in-btn {
      display: inline-block;
      color: white;
      text-decoration: none;
      vertical-align: middle;
      box-sizing: border-box;
      height: 50px;
      width: 50%;
      border-right: 1px solid white;
      background-color: rgb(96, 142, 84);
      font-size: 16px;
      text-align: center;
      padding-top: 16px;
    }
    .sign-in-btn {
      border-right: none;
    }
  }
}

.copyright {
  margin-top: auto;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
}

//переворот карточки

.flip-card {
  -webkit-perspective: 1000px;
   -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 380px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
   -moz-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card>div {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .back {
  -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-rotate {
  display: none;
   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-rotate:checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
}