
.skills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  max-width: 100%;

  .content-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    min-width: 350px;
    align-items: flex-start;
    flex-grow: 1;
    max-width: 50%;
    background-color: rgb(235, 239, 226);
    padding-bottom: 30px;

    .aboutme {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 250px;
      max-height: 150px;

      .aboutme__title {
        color: rgb(55, 62, 66);
        font-size: 63px;
        line-height: 63px;
        background-image: url("../img/about_header_back.png");
        background-position: 10px -25px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .aboutme-description {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      width: 50%;
      min-width: 270px;
      padding-top: 15px;
      padding-right: 15px;
      padding-left: 15px;

      .aboutme-description__image {
        max-width: 100%;
        max-height: 100%;
      }
      .aboutme-description__title {
        text-align: center;
        font-size: 35px;
        line-height: 35px;
        color: rgb(86, 99, 88);

        .horizontal-line {
          background-color: rgb(86, 99, 88);
        }
      }
      .aboutme-description__description {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  .content-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    min-width: 350px;
    max-width: 50%;
    background-color: rgb(244, 245, 240);
    padding-bottom: 30px;

    .skills-items__title {
      text-align: center;
      font-size: 35px;
      line-height: 35px;

      color: rgb(86, 99, 88);

      .horizontal-line {
        background-color: rgb(86, 99, 88);
      }
    }
    .skills-items__description {
      font-size: 16px;
      line-height: 1.5;
      color: rgb(86, 99, 88);
      padding: 0 20px;

    }
    .skills-items__section-title {
      margin-left: 30px;
      font-size: 28px;
      line-height: 28px;
      color: rgb(86, 99, 88);
    }
    .skills-circles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: -20px;
      list-style: none;

      .circle-wrap {
        display:flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        min-width: 125px;
        margin-left: 30px;

        .circle-text {
          position: absolute;
          width: auto;
          font-size: 14px;
          white-space: normal;
          color: rgb(116, 161, 99);
//          z-index: 1000;
        }
      }
      circle {
        fill: rgba(0,0,0,0);
        stroke: #dfdcd5;
        stroke-width: 20;
        stroke-dasharray: 314px 314px;
        transition: .8s;
      }
      circle:nth-child(2n) {
        fill: rgba(0,0,0,0);
        stroke: rgb(116, 161, 99);
        stroke-width: 20;
      }
    }
  }

}
.horizontal-line {
  border: none;
  width: 90px;
  height: 3px;
  margin-bottom: 0;
  background-color: rgb(55, 62, 66);
}

.map {
  //display: flex;
  position: relative;
  #map {
    position: relative;
    width: 100%;
    height: 930px;
  }
  .adress-form {
    position: absolute;
    z-index: 9000;
    //margin:auto;
    top: 30%;
    left: 50%;
    right: 0;
    margin-left: -193px;
    text-align: center;
    width: 385px;
    height: 315px;
    border-radius: 5px;
    background-color: rgba(232, 232, 238, .6);

    .fa-skype,
    .fa-envelope,
    .fa-phone {
      color: rgb(108, 156, 90);
    }
  }
}

.footer {
  position: relative;
}

.footer__down {
  position: relative;
}

polygon:first-child {
  fill: #ebefe2;
}

polygon:last-child {
  fill: rgb(244, 245, 240);
}

.slider__display {
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.slider__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  .slider__item {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: -100%;
    
    img {
      max-width: 100%;
      max-height: 100%;
      //@include centered;
    }
  }
}

@media only screen and (max-width: 700px) {
  .skills .content-left,
  .skills .content-right {
    max-width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .skills .content-left .aboutme-description {
    width: 100%;
  }
}
