
.promo {
  color: white;
  background: url('../img/back.png') no-repeat;
  -o-background-size: cover;
  .avatar__down-arrow {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .box {
    margin: 158px auto 25px auto;
    z-index: 10000;
    height: 90px;

    polygon {
      fill: rgb(235, 239, 226);
      &:nth-child(2n) {
        fill: rgb(244, 245, 240);
      }
    }

  }
}

.myworks-header {
  padding-top: 35px;
  padding-left: 30px;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  .socials {
    margin-bottom: 38px;
    float: left;

    a {
      margin-right: 20px;
      i.fa-vk,
      i.fa-github-alt,
      i.fa-linkedin {
        color: white;
        font-size: 28px;
        line-height: 28px;
      }
    }
  }
}

.avatar {
  text-align: center;
  color: white;
  height: 80px;

  .avatar__photo {
    border-radius: 50%;
    width: 145px;
    height: 145px;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .avatar__name {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .avatar__site-title {
    font-size: 16px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}