.slider
  .slider__display
    ul.slider__list
      li.slider__item
        img
      li.slider__item
      li.slider__item
      li.slider__item
  .slider__controls
    a.slider__controls-top(href='#') Следующая
    
    