
button.header-about__menu.toggle-menu
  span.sandw
    span.sandw-top
    span.sandw-middle
    span.sandw-bottom
.screen-menu
  .screen-menu__container
    .screen-menu__row
      a.screen-menu__link(href='./myworks-new.html')
        .subtitle Мои работы
    .screen-menu__row
      a.screen-menu__link(href='./skills-new.html')
        .subtitle Обо мне
    .screen-menu__row
      a.screen-menu__link(href='./blog-new.html')
        .subtitle Блог
    .screen-menu__row
      a.screen-menu__link(href='./index.html')
        .subtitle Авторизация