//head для страницы мои работы

head
  meta(charset="UTF-8")
  meta(name="viewport",content="width=device-width")
  link(href="assets/css/normalize.css", rel="stylesheet")
  link(href="assets/css/main.css", rel="stylesheet")
  link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')
  block link-css
