extends ../main_template

block link-css
  link(href="assets/css/header.css", rel="stylesheet")
  link(href="assets/css/myworks_content.css", rel="stylesheet")
  link(href="assets/css/footer.css", rel="stylesheet")
block page-header
  include ../includes/_myworks-header
block content
  include ../includes/_myworks-content
block footer
  include ../common/_footer




